<div class="row col-md-8 col-md-offset-2">
  <div class="panel panel-default" id="hangout" data-hangout-id="<%= @hangout.id %>">
    <% if @hangout.messages.any? %>
        <div class="panel-body" id="messages">
          <%= render partial: 'messages/message', collection: @hangout.messages%>
        </div>
    <%else%>
        <div class="panel-body hidden" id="messages">
        </div>
    <%end%>
  </div>

  <%= render partial: 'messages/message_form', locals: { message: @message, hangout: @hangout, receiver: @receiver } %>
</div>

<%= javascript_tag do %>
   subscribe(<%= @hangout.id %>);
<% end %>